/*//////////////////////////////////////////////////////////////////////////////////
/////// GLOBAL STYLES //////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

html {
	font-size: 1rem;
	font-family: 'Liberator', sans-serif;
}
body {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}
li {
	text-decoration: none;
}
.click-me {
	text-shadow: 1px 0 0 #99ff11, -1px 0 0 #99ff11, 0 1px 0 #99ff11, 0 -1px 0 #99ff11, 1px 1px #99ff11, -1px -1px 0 #99ff11, 1px -1px 0 #99ff11, -1px 1px 0 #99ff11;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.close-button {
	font-size: 2rem;
	color: #2e2e2e;
	background-color: #fff;
    border: 2px solid #2e2e2e;
    width: 2rem;
    height: 2rem;
    line-height: 2.75rem;
    border-radius: 8px;
	margin: 1rem;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}
.close-button:hover {
	transform: rotate(90deg);
	transition: transform 150ms linear;
}
.page-title {
	font-weight: 600;
    font-family: 'Liberator', sans-serif;
    color: #2e2e2e;
    letter-spacing: .1rem;
    font-size: 1.5rem;
    margin: 3rem auto 0 auto;
    text-align: center;
    text-transform: uppercase;
}
#main-container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	flex: 1;
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// HOMEPAGE ///////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

#homepage-image {
	margin: 3rem auto 0 auto; 
	max-width: 57%;
}
#homepage-button {
	display: none
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// ARCHIVE ////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

#archive-container {
	display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 3rem auto;
}
.archive-product-container {
	width: 25%;
	text-align: center;
	margin: 1rem 0;
	cursor: pointer;
}
.archive-product-container:hover {
	transform: scale(1.05);
	transition: all 150ms linear;
}
.archive-product-container:hover .archive-product-title {
	text-shadow: 1px 0 0 #99ff11, -1px 0 0 #99ff11, 0 1px 0 #99ff11, 0 -1px 0 #99ff11, 1px 1px #99ff11, -1px -1px 0 #99ff11, 1px -1px 0 #99ff11, -1px 1px 0 #99ff11;
}
.archive-product-image {
	width: 95%;
}
.archive-product-title {
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #2e2e2e;
    letter-spacing: .25rem;
    font-weight: 600;
    font-family: 'Liberator', sans-serif;
}
/*//////////////////////////////////////////////////////////////////////////////////
/////// FAQ ////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

.accordion {
	font-size: 1.25rem;
	background-color: #eee;
    color: #2e2e2e;
    cursor: pointer;
    padding: .5rem 1.5rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-top: solid 1px #afafaf;
    font-weight: 600;
    font-family: 'Liberator', sans-serif;
}
.accordion:first-child {
	border-top: none;
}
.accordion:hover {
	color: #fff;
	background-color: #2e2e2e;
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.accordion:after {
    content: '\027e9';
    float: right;
    font-weight: bold;
}
.open:after {
    transform:rotate(90deg);
}
.panel-content {
	padding: 1rem;
	font-size: 1.25rem;
	text-align: justify;
	line-height: 1.5;
}
#faq-container {
	width: 90%;
	display: block;
	margin: 3rem auto;
	border: solid 1px #afafaf;
	border-radius: 12px;
	overflow: hidden;
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// HEADER /////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

header {
	text-align: center;
	width: 100%;
	z-index: 999;
}
#special-message-box {
	background-color: #2e2e2e;
	width: 100%;
	padding: .5rem 0;
	text-align: center;
	margin-bottom: 1.5rem;
}
#special-message {
	text-transform: uppercase;
	font-size: 1.25rem;
	color: white;
	word-spacing: .5rem;
    letter-spacing: .25rem;
    font-weight: 600;
    font-family: 'Liberator', sans-serif;
}
#inner-header-container {
	max-width: 1280px;
	margin: 0 auto;
}
#header-section-left {
	display: inline-block;
	width: 25%;
}
#header-section-center { 
	display: inline-block;
	width: 50%;
}
#header-section-right {
	display: inline-block;
	width: 24%;
}
#main-logo {
	max-width: 25rem;
}
#main-logo:hover {
	transform: scale(1.05);
	transition: all 150ms linear;
}
#cart-icon {
	color: #2e2e2e;
	font-size: 2.5rem;
}
#cart-icon-container {
	cursor: pointer;
    padding: 4rem 0 3rem 0;
    animation: money-hop 1s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
  	backface-visibility: hidden;
  	perspective: 1000px;
}
.cart-icon-hover,
#nav-cart-link:hover ~ #cart-icon,
#nav-cart-link:hover ~ #cart-counter,
#cart-icon-container:hover #cart-icon, 
#cart-icon-container:hover #cart-counter {
	animation: money-hop 1s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
  	backface-visibility: hidden;
  	perspective: 1000px;
}
#cart-icon-container:hover #cart-icon {
	text-shadow: 1px 0 0 #99ff11, -1px 0 0 #99ff11, 0 1px 0 #99ff11, 0 -1px 0 #99ff11, 1px 1px #99ff11, -1px -1px 0 #99ff11, 1px -1px 0 #99ff11, -1px 1px 0 #99ff11;
}

#cart-counter {
    background-color: #cc0000;
    border-radius: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
    margin-left: .1rem;
    color: #fff;
    vertical-align: top;
    position: absolute;
}
#nav-icon {
	color: #2e2e2e;
	font-size: 2.5rem;
	display: none;
	cursor: pointer;
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// FOOTER /////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

footer {
	width: 100%;
	text-align: center;
	background-color: #2e2e2e;
	padding: 5px 0;
}
#copyright {
	color: #fff;
	font-size: 1.25rem;
	letter-spacing: 1px;
	font-family: 'Liberator', sans-serif;
	text-decoration: none;
}
#copyright:hover {
	color: #99ff11;
}
a:-webkit-any-link {
	text-decoration: none;
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// NAVIGATION /////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

nav {
	width: 100%;
	margin-bottom: 1.5rem;
	margin-top: 2.5rem;
}
.nav-icons {
	display: none;
}
#nav-cart-link,
.nav-link {
	font-family: 'Liberator', sans-serif;
	text-transform: uppercase;
	font-size: 1.5rem;
	text-decoration: none;
	color: #2e2e2e;
	font-weight: 600;
	letter-spacing: .1rem;
	padding: .5rem 4rem;
	cursor: pointer;
}
#nav-cart-link:hover,
.nav-link:hover {
	transform: scale(1.05);
	transition: all 50ms linear;
	text-shadow: 1px 0 0 #99ff11, -1px 0 0 #99ff11, 0 1px 0 #99ff11, 0 -1px 0 #99ff11, 1px 1px #99ff11, -1px -1px 0 #99ff11, 1px -1px 0 #99ff11, -1px 1px 0 #99ff11;
}
.nav-link:last-child {
	display: none;
}
.topnav .icon {
	display: none;
}
.selected {
	text-shadow: 1px 0 0 #99ff11, -1px 0 0 #99ff11, 0 1px 0 #99ff11, 0 -1px 0 #99ff11, 1px 1px #99ff11, -1px -1px 0 #99ff11, 1px -1px 0 #99ff11, -1px 1px 0 #99ff11;
}
#menu-close-button {
	display: none;
}
#menu-container {
	width: 90%;
	max-width: 1280px;
	border-top: solid 1px #afafaf;
	border-bottom: solid 1px #afafaf;
	margin: 0 auto;
    background-color: #fff;
    transition: width 250ms ease-out;
    z-index: 999;
}
#mobile-nav-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
#nav-return {
	display: none;
}
#menu-title {
	display: none;
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// CART ///////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

.cart-item {
	color: #fff;
 	border-bottom: 1px solid #bababa;
 	padding: 1rem 1rem;
 }
 .cart-item:last-child {
 	border-bottom: none;
 }
.cart-left-container {
	float: left;
	line-height: 2rem;
}
i.cart-remove-button {
	font-size: 1rem;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 1.5rem;
	line-height: 1.5rem;
	background-color: #cc0000;
 	display: inline-block;
 	margin-right: 1rem;
 	cursor: pointer;
}
.cart-remove-button:hover {
	transform: rotate(90deg);
	transition: transform 150ms linear;
}
.cart-product-name {
	font-size: 1.5rem;
	letter-spacing: .1rem;
	display: inline-block;
	cursor: pointer;
	color: #99ff11;
}
.cart-product-name:hover {
	transform: scale(1.05);
	transition: all 150ms linear;
}
.cart-product-info {
	display: block;
	font-size: 1.5rem;
}
.cart-product-image {
	width: 4rem;
	float: right;
	border-radius: 5px;
	cursor: pointer;
}
.cart-product-image:hover {
	transform: scale(1.5);
	transition: all 250ms linear;
}
.cart-row {
	display: block;
	font-size: 2rem;
	color: #bababa;
	text-align: left;
	border-bottom: 1px solid #bababa;
	padding: 1rem 1rem;
	font-weight: 400;
}
#cart-container {
	width: 0px;
	min-width: 0px;
	min-height: 100%;
	overflow-y:scroll;
	display: block;
	margin: 0;
	background-color: rgba(0,0,0,.80);
	top: 0px;
	right: 0px;
	bottom:0;
	position: fixed;
	z-index: 1000;
}
#cart {
	border: 1px solid #bababa;
	width: 90%;
	margin: 0 auto;
	border-radius: 12px;
	display: block;
	font-family: 'Liberator', sans-serif;
}
#cart-checkout-button {
	color: #99ff11;
	border: 1px solid #bababa;
	width: 90%;
	margin: 3rem auto 1rem auto;
	border-radius: 12px;
	display: block;
	font-family: 'Liberator', sans-serif;
	cursor: pointer;
	background-color: transparent;
	font-size: 2rem;
	padding: 1rem;
	text-transform: uppercase;
	font-weight: 600;
}
#cart-checkout-button:hover {
	font-size: 2.1rem;
	padding: .95rem;
	transition: all 150ms linear;
}
#cart-title {
	font-family: 'Liberator', sans-serif;
	color: #fff;
    font-size: 3rem;
    margin: 3rem auto;
	text-transform: uppercase;
	letter-spacing: .1rem;
}
#cart-return {
	font-family: 'Liberator', sans-serif;
	color: #99ff11;
	font-size: 1.25rem;
	cursor: pointer;
	padding: 2rem 0;
}
#cart-return:hover {
	transform: scale(1.05);
	transition: all 150ms linear;
}
#cart-total {
	color: #fff;
    font-size: 1.5rem;
}
#total-label {
	letter-spacing: .1rem;
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// MEDIA QUERIES //////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 768px) {
	.archive-product-container {
		width: 33.33%;
	}
	.archive-product-title {
	    border: 1px solid #2e2e2e;
	    width: 90%;
	    font-size: 1.25rem;
	    border-radius: 8px;
	    padding: 1rem 0;
	    background-color: transparent;
	    margin: 0 auto;
	    text-shadow: 1px 0 0 #99ff11, -1px 0 0 #99ff11, 0 1px 0 #99ff11, 0 -1px 0 #99ff11, 1px 1px #99ff11, -1px -1px 0 #99ff11, 1px -1px 0 #99ff11, -1px 1px 0 #99ff11;
	}
	#archive-container {
		margin: 0rem auto 3rem auto;
	}
	#nav-cart-link {
		display: none;
	}
	.cart-product-image {
		width: 6rem;
	}
	.cart-left-container {
		line-height: 3rem;
	}
	.nav-link {
		display: block;
		font-size: 2rem;
		letter-spacing: 0;
    	color: #99ff11;
    	text-align: left;
    	border-bottom: 1px solid #bababa;
    	padding: 1rem 1rem;
    	font-weight: 400;
	}
	.nav-link:hover {
		color: #99ff11;
		font-size: 2.1rem;
		transition: all 150ms linear;
	}
	.close-button {
		font-size: 3rem;
		height: 3rem;
		width: 3rem;
	}
	.nav-icons {
		display: inline-block;
		width: 6rem;
		text-align: center;
		color: #fff;
		cursor: pointer;
	}
	.nav-link:last-child {
		border-bottom: none;
	}
	.nav-link:hover {
		transform: scale(1);
	}
	#menu-container {
		width: 0px;
		min-height: 100%;
		display: block;
		margin: 0;
		background-color: rgba(0,0,0,.80);
		top: 0px;
    	position: fixed;
    	overflow-y: scroll;
	}
	#menu-title {
		font-family: 'Liberator', sans-serif;
		color: #fff;
	    font-size: 3rem;
	    margin: 3rem auto;
		text-transform: uppercase;
		letter-spacing: .1rem;
		display: block;
	}
	#menu-close-button {
		display: inline-block;
	}
	.selected {
		color: #bababa;
		text-shadow: none;
	}
	#nav-icon {
		display: inline-block;
		font-size: 3.5rem;
	}
	#cart-icon {
		font-size: 3.5rem;
	}
	#mobile-nav-container {
		border: 1px solid #bababa;
    	width: 90%;
    	margin: 0 auto 1rem auto;
    	border-radius: 12px;
    	display: block;
	}
	#nav-return {
		font-family: 'Liberator', sans-serif;
		color: #99ff11;
		font-size: 1.5rem;
		cursor: pointer;
		display: block;
		padding: 2rem 0;
	}
	#nav-return:hover {
		transform: scale(1.05);
		transition: all 150ms linear;
	}
	#cart-total {
		font-size: 2rem;
	}
	#cart-return {
		font-size: 1.5rem;
	}
	.cart-product-name {
    	font-size: 2rem;
	}
	i.cart-remove-button {
	    font-size: 1.25rem;
	    width: 2rem;
	    height: 2rem;
	    border-radius: 2rem;
	    line-height: 2rem;
	    margin-right: 3rem;
	}
	#homepage-button {
	    border: 1px solid #2e2e2e;
	    color: #2e2e2e;
	    width: 25rem;
	    margin: 3rem auto;
	    border-radius: 8px;
	    display: block;
	    text-transform: uppercase;
	    padding: 1rem;
	    background-color: transparent;
	    font-weight: 600;
	    font-size: 2rem;
	    letter-spacing: .1rem;
	    text-decoration: none;
	}
	#shirt-icon {
		margin-right: 2rem;
	}
	#header-section-left {
		display: inline-block;
		width: 20%;
	}
	#header-section-center { 
		display: inline-block;
		width: 58%;
	}
	#header-section-right {
		display: inline-block;
		width: 20%;
	}
	.panel-content {
		font-size: 1.5rem;
		padding: 1.5rem;
	}	
	.accordion {
	    padding: 1rem 1.5rem;
	    font-size: 1.5rem;
	}
}
@media screen and (max-width: 512px) {
	.archive-product-container {
		width: 50%;
	}
	.archive-product-title {
		font-size: 1rem;
	}
}

@media screen and (orientation: portrait) {
	.nav-link {
		padding: .5rem 2rem;
	}
}

@media screen and (orientation: portrait) and (max-width: 768px){
	#cart-checkout-button {
		margin: 3rem auto 4rem auto;
	}
	.nav-link {
		padding: 2rem 1rem;
	}
	#homepage-image {
		max-width: 100%;
	}
	#main-logo {
		margin-bottom: 8rem;
	}
	#nav-icon {
		margin: 12rem 0 3rem 0;
		padding-left: 2rem;
	}
	#cart-icon-container {
		margin: 12rem 0 3rem 0;
		padding-right: 2rem;
	}
	#cart-title {
		margin: 6rem auto;
	} 	
	#menu-title {
		margin: 6rem auto;
	} 
	#mobile-nav-container {
		margin: 6rem auto 4rem auto;
	}
	.page-title {
	    font-size: 1.5rem;
	    margin: 0 auto 6rem auto;
	}
}

/*//////////////////////////////////////////////////////////////////////////////////
/////// ANIMATIONS /////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////*/

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -1px, 0);
  }
  
  20%, 80% {
    transform: translate3d(0, 2px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, 4px, 0);
  }
}
@-webkit-keyframes money-hop { 
	0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
	40% {-webkit-transform: translateY(-30px);} 
	60% {-webkit-transform: translateY(-15px);} 
} 

@keyframes money-hop { 
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
	40% {transform: translateY(-30px);} 
	60% {transform: translateY(-15px);} 
}